<tr *ngIf="productInput">
  <td>{{productInput.name}}</td>
  <td>{{productInput.price}}</td>
  <td>{{productInput.quantity}}</td>
  <td>{{productInput.selected}}</td>
  <td>{{productInput.available}}</td>
  <td>
    <button (click)="onSelectProduct(productInput)" [ngClass]="productInput.selected? 'btn-success' : 'btn-danger'"
            class="btn btn-sm">
      <span *ngIf="productInput.selected">Unselect</span>
      <span *ngIf="!productInput.selected">select</span>
    </button>
  </td>
  <td>
    <button (click)="onDeleteProduct(productInput)" class="btn btn-sm btn-danger">
      <span class="fa fa-trash"></span>
    </button>
  </td>
  <td>
    <button (click)="onUpdateProduct(productInput)" class="btn btn-sm btn-warning">
      <span class="fa fa-edit"></span>
    </button>
  </td>
</tr>
